.my-button {
    padding: 10px 90px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

ul {
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
    
}



.block {
    padding-left: 40%;
    padding-top: 10%;
}

.btn {
   width: fit-content;
    background-color: bisque;
}

.list {
   margin-top: 0%;

   display: none;
   width: fit-content;
    background-color: bisque;
}
.btn:hover + .list{
   display: block;
}

ul{
   background-color: #007BFF;
   margin-top: 0%;
   height: fit-content;
}
li{
   border: 1px solid black;
   padding: 10px;
   margin-bottom: 10px;
}