<div class="container mt-5">
    <div class="container-fluid w-75 border rounded-5 border-white" style="background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px);">
      <h1 class="text-center my-4 text-dark fw-bold">Register User</h1>
  
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showalert">
        <strong>Success!</strong> Restaurant Added To The List...
        <button type="button" class="btn-close" (click)="closealert()"></button>
      </div>
  
      <!-- <form class="p-3" [formGroup]="addResto" (ngSubmit)="collectformdata()"> -->
      <form class="p-3" [formGroup]="registerUser" (ngSubmit)="collectformdata()">
        <div class="form-group m-3">
          <label for="rname" class="fw-bold text-dark"> Name</label>
          <input type="text" required class="form-control" id="uname" placeholder="User Name" formControlName="name">
        </div>
  
        <div class="form-group m-3">
          <label for="remail" class="fw-bold text-dark"> Email</label>
          <input type="email" required class="form-control" id="uemail" placeholder="User Email" formControlName="email">
        </div>
  
        <div class="form-group m-3">
          <label for="raddress" class="fw-bold text-dark"> Password</label>
          <input type="password" required class="form-control" id="upass" placeholder="Password" formControlName="password">
        </div>

        <div class="form-group m-3">
          <label for="raddress" class="fw-bold text-dark"> Conform Password</label>
          <input type="password" required class="form-control" id="ucpass" placeholder="Conform Password" #cpassword formControlName="cpassword">
        </div>
  
        <div class="row">
          <div class="col text-end">
            <button type="submit" class="btn btn-primary fw-bold mt-4 mx-3">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  