
<div class="maindiv">

    <form>
        <div class="title">
            <h1>Contect Me</h1>
        </div>

        <div class="namediv">
            <label for="name">Name:</label>
            <input type="text" name="name" class="name" [(ngModel)]="uname" required>
        </div>

        <div class="passworddiv">
            <label for="password">Password:</label>
            <input type="password" name="password" class="password" [(ngModel)]="password" required>
        </div>

        <div class="numberdiv">
            <label for="number">Number:</label>
            <input type="text" name="number" class="number" [(ngModel)]="number" required>
        </div>

        <div class="btndiv">
            <button (click)="onclick()" >Submit</button>
        </div>

    </form>

</div>
