.maindiv{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    padding: 50px;
    /* border: 3px solid black;  */
}
form{
    border: 3px solid black;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.maindiv input{
    margin: 15px;
    width: 300px;
    height: 30px;
}
.maindiv label{
    font-size: 30px;
}
.maindiv button{
    font-size: 20px;
}
.btndiv{
    background-color: aqua;

}