.maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    margin: 10px;
    
}
.titlediv h3{
    font-size: 100px;
}
.discribediv p{
    font-size: 30px;
    /* border: 1px solid red; */
    /* margin-left: 80px;
    margin-right: 80px; */
    padding-left: 80px;
    padding-right: 80px;
}
.ullistdiv ul{
    font-size: 40px;
    padding-bottom: 150px;
}