<div class="maindiv">

    <div class="titlediv">
        <h3>About</h3>
    </div>

    <div class="discribediv">
        <p>A Bachelors's in Computer Application(BCA). Student from Dr.Shubhsh College of Computer Science
            with excellent academic background and diverse skillset. Experienced in Web, Flutter and Android
            Development.I am well versed with HTMl, Python, PHOTOSHOP, Java, C++ and basics of JavaScript
            & CSS.</p>
    </div>
    <div class="ullistdiv">
        <ul>
            <li>
                <strong>Fullname:</strong>
                <span>Odedara Hitesh</span>
            </li>
            <li>
                <strong>Birth Date:</strong>
                <span>July 29th, 2003</span>
            </li>

            <li>
                <strong>Email:</strong>
                <span>Hiteshodedata@hotmail.com</span>

            </li>

        </ul> <!-- /info-list -->
    </div>

</div>