
img{
    cursor: pointer;
    width: 1.6em;
    
}

.imgedit{
    margin-left: 20px;
}

.tablemain{
    background-color: rgba(255, 255, 255, 0.5)!important;
     backdrop-filter: blur(10px);
}

.mainbox{
    animation: wave 1s infinite;

}
@keyframes wave {
   
  }
  