
<div class="container-fluid w-75 mt-5 border rounded-5 bg-light placeholder-wave   ">

    <div class="form-floating float-sm-start mt-5 overflow-auto focus-ring  py-1 px-1  ">
        <input type="text" [(ngModel)]="inputtext" class="form-control" id="floatingInput"
            placeholder="name@example.com">

        <label for="floatingInput "><i class="bi bi-search mx-2"></i>Search By Name</label>
    </div>


    <div class="container   overflow-auto ">
        <h1 class="text-center  text-black fw-bold overflow-hidden   ">List Of Restorant</h1>
        <table class="table table-light   ">
            <thead class="  ">
                <tr>
                    <th scope="col" class="   ">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col" class="">Opretions</th>
                </tr>
            </thead>
            <tbody class="  ">
                <tr *ngFor="let item of restolist|filter:inputtext">
                    <th scope="row" class=" ">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address}}</td>
                    <td>

                        <img src="../../assets/delete.png" class=" imgdelete" [ngbTooltip]="Delete" placement="bottom"
                            (click)="ondeleteclick(item.id,item.name)">

                        <img src="../../assets/edit.png" routerLink="/update/{{item.id}}" class=" imgedit"
                            [ngbTooltip]="Edit" placement="bottom">

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>