<div class="container-fluid mt-5 border w-75 ">
    <h1 class="text-center m-4 ">Restorant List</h1>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="showclose">
        <strong>Deleted!</strong> {{deletedname}} Restorant Is Deleted From List
        <button type="button" class="btn-close" (click)="onclose()"></button>
    </div>
    <table class="table  overflow-hidden ">
        <thead>
            <tr class="table-primary    ">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of restolist;" class="table-secondary">
                <th scope="row">{{item.id}}</th>
                <td #name>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.address}}</td>
                <td>

                    <img src="../../assets/trash-solid.svg" (click)="ondeleteclick(item.id,item.name)"
                        style="width: 1.3em;">
                    <img src="../../assets/pen-to-square-solid.svg" class="px-3" style="width: 3.6em;">
                </td>
            </tr>
        </tbody>
    </table>
</div>