<div class="container-fluid bg-light  placeholder-wave  ">
    <div class="banner">
        <img class="img-fluid " src="https://img.freepik.com/free-psd/fast-food-restaurant-banner-template_23-2148987500.jpg?w=900&t=st=1699276955~exp=1699277555~hmac=c2c4bc2e6cf689b2dac5352656053d986743842a735eb6e9379b5a86b6cc89d4"
            alt="My Restaurant Banner">
    </div>
    <div class="intro">
        <h1>Welcome to My Restaurant</h1>
        <p>We serve delicious and authentic dishes from around the world.</p>
    </div>
    <div class="menu">
        <div class="menu-item">
            <img src="https://img.freepik.com/free-photo/pizza-pizza-filled-with-tomatoes-salami-olives_140725-1200.jpg?w=826&t=st=1699276910~exp=1699277510~hmac=991d23932f172aed8b4446e1b91e886a376fd8d424b652e101b729637a860860"
                alt="Pizza">
            <h3>Pizza</h3>
            <p>A classic Italian dish with cheese, tomato sauce, and various toppings.</p>
            <span>$10</span>
        </div>
        <div class="menu-item">
            <img src="https://img.freepik.com/free-photo/sushi-nori-inside-white-platter-with-soy-sauce-ginger-wasabi_114579-3596.jpg?w=1380&t=st=1699276868~exp=1699277468~hmac=08cb6a103f9b576fc480b53f906c90453a86e267d8788b9906e5d9814ca683cc"
                alt="Sushi">
            <h3>Sushi</h3>
            <p>A traditional Japanese dish with rice, raw fish, and seaweed.</p>
            <span>$15</span>
        </div>
        <div class="menu-item">
            <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=826&t=st=1699276786~exp=1699277386~hmac=14f45bd7c143b10d73ba13ccf37f5cdb514a559f6cfb101e63009a38fea185fc"
                alt="Burger">
            <h3>Burger</h3>
            <p>A popular American dish with a beef patty, cheese, lettuce, tomato, and bun.</p>
            <span>$8</span>
        </div>
    </div>
</div>