<div class="container-fluid  bg-info ">
    <div class="title text-center pt-3 ">
        <h1>Todo App</h1>
    </div>
    <div class="formdiv container d-flex flex-column ">
            <div class="form-floating  my-5 d-flex gap-3  ">
                <input type="text" class="form-control  " #input [(ngModel)]="inputdata" id="floatingInput" placeholder="nothing" >
                <label for="floatingInput">Add Todo</label>
                <button type="submit"  class="btn btn-primary" (click)="onaddtodo()">Add Todo</button>
            </div>
    </div>

    <div class="container-fluid  ">
        <div class="container-fluid  text-center">
            <div class="row" >
                <div class="col mt-3 mb-2  " *ngFor="let item of blocks">
                    <app-item-list [vals]="item"  ></app-item-list>
                </div>
            </div>
        </div>
    </div>

</div>