<!-- intro section
   ================================================== -->
   

   

    <div class="intro-content">
        <div class="row">
            

            <div class="col-twelve">

                <div class="name">
                    <h5 id="hi1">Hello, </h5>
                <h5 id="hi2">world</h5>
            </div>
            <h1 id="dipen">I<span style="color: #CC005F;">'</span>m Hitesh Odedara<span style="color: #CC005F;">.</span></h1>

                 <p class="intro-position">
                     <span>Developer</span>
                     <span>Fresher</span>
                     <span>Lazy</span>
                 </p>


            </div>  
            
        </div>   		 		
    </div> <!-- /intro-content --> 


