<div class="card mx-3">
    <div class="card-body">
<div class="card mx-3">
    <div class="card-body">
      <h1>I am a Java Develepor i Tryed To learn Angular For My Job . . .</h1>   
    </div>
</div>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h1 id="scrollspyHeading1">First heading</h1>
        <p>. . .</p>
        <h2 id="scrollspyHeading2">Second heading</h2>
        <p>. . .</p>
        <h3 id="scrollspyHeading3">Third heading</h3>
        <p>. . .</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>. . .</p>
        <h5 id="scrollspyHeading5">Fifth heading</h5>
        <p>. . .</p>
      </div>
    </div>
</div>