 ::-webkit-scrollbar{
    display: none;
}
body {
    background-image: url('./assets/public.avif');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed; 
  }

  