::-webkit-scrollbar{
    display: none;
}
body {
    background-image: url('./assets/public.avif');
    background-size: cover;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Fixed background (does not scroll with the content) */
  }
  