<div class="maindiv">

  <div class="titlebar">

      <div class="imgdiv">
          <img src="../../favicon.ico" alt="">
      </div>

      <div class="titlediv">
          <a routerLink="">Reva The AI</a>
      </div>

      <div class="menudiv">
          <ul>
              <li><a routerLink="home">Home</a></li>
              <li><a routerLink="about">About</a></li>
              <li><a routerLink="contect">Contect</a></li>
          </ul>
      </div>

  </div>
 
  <div class="contant">
      <!-- <app-home></app-home> -->
      <!-- <app-about></app-about> -->
      <!-- <app-contect></app-contect> -->
      <router-outlet></router-outlet>
  </div>

</div>
