<div class="maindiv">
  <form autocomplete="off">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required autocomplete="off">
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required autocomplete="off">
    </div>

    <label for="password">Password:</label>
    <div class="passworddiv">
      <input type="{{showPassword ? 'text':'password'}}" id="password" name="password" class="pwd" required
        autocomplete="off">
        <input type="checkbox" class="checkbox" name="checkbox" [(ngModel)]="showPassword">
    </div>

    <label for="confirmPassword">Confirm Password:</label>
    <div class="passworddiv">
      <input type="{{showPassword2 ? 'text':'password'}}" id="Password" name="Password" class="pwd" required autocomplete="off">
      <input type="checkbox" class="checkbox" name="checkbox" [(ngModel)]="showPassword2">
    </div>

    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required autocomplete="off">
    </div>
    <div class="buttondiv">
      <button type="submit">Register</button>
    </div>
  </form>
</div>